.ourTeam2{
  margin: 0 auto;
  width: 100px;
/* }
<p align="right">A right-aligned paragraph.</p> */
.w3-top {
    font-family: "Times New Roman", Times, serif;
}
nav{
  position: fixed;
  color:blue;
}
body{
color: blue;
}
